# PressChain Environment Variables
# Copy file ini menjadi .env dan isi nilainya
# JANGAN upload file .env ke GitHub!

PRIVATE_KEY=your_wallet_private_key
BASE_RPC_URL=https://mainnet.base.org
CONTRACT_ADDRESS=isi_setelah_deploy
PINATA_API_KEY=your_pinata_api_key
PINATA_SECRET=your_pinata_secret
